Flask==3.1.2
Flask-Cors==6.0.1
psycopg2-binary==2.9.11
SQLAlchemy==2.0.44
pandas==2.3.3
numpy==2.3.4
scikit-learn==1.7.2
prophet==1.2.1
joblib==1.5.2
python-dotenv==1.2.1
types-pytz>=2022.1.1
gunicorn==22.0.0
